body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: 1;
  color: white;
}

.Main {
  margin: 10px auto;
  padding-bottom: 10px;
  max-width: 300px;
  background: #0b0c10;
}

.WeatherSection {
  padding: 20px;
  font-size: 14px;
}

.Minimize {
  display: inline-block;
  vertical-align: middle;
  height: 20px;
  width: 20px;
}

.Minimize:hover {
  cursor: pointer;
}

.WeatherIcon {
  display: inline-block;
  vertical-align: middle;
  height: 90px;
  width: 90px;
  padding: 0px 20px;
}

.MainWeatherInfo {
  display: flex;
  padding: 20px;
  text-align: center;
}

.MainWeatherFlex {
  min-width: 50%;
  padding-top: 15px;
}

.LightText {
  color: #8f9094;
}

.TemperatureText {
  font-size: 44px;
  padding: 5px 0px;
}

.SecondaryWeatherInfo {
  padding-left: 30px;
  display: inline-flex;
  flex-wrap: wrap;
}

.SecondaryInfoRows {
  padding-bottom: 8px;
  min-width: 70%;
}

.BoldText {
  font-size: 18px;
  font-weight: 500;
}

.SettingsIcon {
  display: inline-block;
  height: 12px;
  width: 12px;
  padding-left: 3px;
}

.SettingsIcon:hover {
  cursor: pointer;
}

.DelayedRoutesSection {
  margin: 0px 15px;
  background: #151e27;
  border: #21262b 1px solid;
  margin-bottom: 20px;
}

.RoutesRow {
  display: flex;
  border-bottom: #21262b 1px solid;
  padding: 5px 10px;
}

.RoutesHeaderText {
  min-width: 90%;
  color: #b5bcc4;
  font-weight: 400;
}

.RouteIcon {
  display: block;
  height: 10px;
  width: 10px;
  padding: 5px 5px;
}

.RoutesText {
  font-size: 12px;
  padding: 0px 5px;
  line-height: 1.4;
  margin-right: auto;
}

.PrimaryRouteText {
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 5px;
  color: #b8bfc7;
}

.RoutesDT {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  vertical-align: center;
  justify-content: space-between;
  align-items: flex-end;
  margin-left: auto;
  text-align: end;
}

.RoutesDistance {
  font-size: 10px;
  padding-top: 5px;
}

.RoutesTime {
  font-size: 12px;
  font-weight: 300;
  padding-bottom: 5px;
}

.RampChartSection {
  margin: 0px 15px;
  background: #151e27;
  border: #21262b 1px solid;
  margin-bottom: 10px;
}

.RampsText {
  padding: 20px;
  font-weight: 400;
}